.cart-container h2 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 1rem;
}

.cart-container {
    margin-left: 10vw;
    width: 80vw;
    border-radius: 15px;
    background-color: var(--orange-400);
    padding: 10px;
    position: absolute;
    bottom: 0;
    text-align: end;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-ul-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#cart {
    list-style: none;
    font-size: 1.2rem;
    line-height: 1.5;
    overflow-y: scroll;
    max-height: 100px;
}

.btn-purchase {
	background-color: var(--blue-200); /* Green */
	border: none;
	color: var(--white);
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 1rem;
    border-radius: 15px;
    align-items: flex-end;
    cursor: pointer;
}

#total-purchase {
    margin-top: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: overline;
    color: var(--white);
}