body {
	background-color: var(--white);
	font-family: var(--font);
	font-weight: var(--font-weight);
}

a {
	text-decoration: none;
}

.logo {
	font-size: 2rem;
	color: var(--gray-700);
	padding: 20px;
}

nav {
	height: 70px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid var(--gray-700);
	background-color: var(--orange-400);
}

nav ul {
	list-style: none;
	display: flex;
	width: 600px;
	justify-content: space-between;
	gap: 2rem;
}

.hamburger {
	display: none;
	border: none;
	background: none;
	border-top: 3px solid #fff;
	cursor: pointer;
}

.hamburger::after,
.hamburger::before {
	content: ' ';
	display: block;
	width: 30px;
	height: 3px;
	background: #fff;
	margin-top: 5px;
	position: relative;
	transition: 0.3s;
}

.nav-item a {
	font-size: 1rem;
	color: black;
}

.container {
	display: flex;
	background-color: var(--white);
	width: auto;
	height: auto;
	justify-content: center;
	padding: 15px;
}

@media (max-width: 750px) {
	.hamburger {
		display: block;
		z-index: 1;
	}
	.nav-list {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: var(--orange-400);
		clip-path: circle(100px at 90% -15%);
		transition: 1s ease-out;

		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		gap: 0;

		pointer-events: none;
	}

	.nav-list a {
		font-size: 24px;
		opacity: 0;
	}

	.nav-list li:nth-child(1) a {
		transition: 0.5s 0.2s;
	}

	.nav-list li:nth-child(2) a {
		transition: 0.5s 0.4s;
	}

	.nav-list li:nth-child(3) a {
		transition: 0.5s 0.6s;
	}

	/* Estilos ativos */

	.nav.active .nav-list {
		clip-path: circle(1500px at 90% -15%);
		pointer-events: all;
	}

	.nav.active .nav-list a {
		opacity: 1;
	}

	.nav.active .hamburger {
		position: fixed;
		top: 26px;
		right: 16px;
		border-top-color: transparent;
	}

	.nav.active .hamburger::before {
		transform: rotate(135deg);
	}

	.nav.active .hamburger::after {
		transform: rotate(-135deg);
		top: -7px;
	}
}
