body {
    margin: 0;
    padding: 0;
    background-color: var(--white);
    font-family: var(--font);
    font-weight: var(--font-weight);
}

a {
    text-decoration: none;
}

.logo {
    font-size: 2rem;
    color: var(--gray-700);
    padding: 20px;
}

nav {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--gray-700);
    background-color: var(--orange-400);
}

nav ul {
    list-style: none;
    display: flex;
    width: 600px;
    justify-content: space-around;
}

.nav-item a { 
    font-size: 1rem;
    color: black;
}

.container {
    display: flex;
    background-color: var(--white);
    width: auto;
    height: auto;
    justify-content: center;
}
